h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7%;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 10px;
}

.button {
  padding-top: 30px;
}
